#see-more-btn {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#see-more-btn:hover {
    background-color: #e64a19;
}